type wifi_efs_file, file_type;

type sysfs_firmware_writable, fs_type, sysfs_type;
type sysfs_devices_tegradc, fs_type, sysfs_type;
type sysfs_voodoo_sound, fs_type, sysfs_type;

type tmpfs_mmcblk0p6, file_type;
