
# GPS Daemon
# allow init self:process execmem;
# allow init gpsd:process execmem;

# allow init properties_device:file execute;
# allow init self:tcp_socket { create_socket_perms name_connect };

#
allow init tmpfs_mmcblk0p6:blk_file rw_file_perms;

# daemonsu (SuperSU)
# allow init fuse:dir mounton;

allow init sysfs_voodoo_sound:file rw_file_perms;
